@if (PM.Status is Progress.manager.Status.Done) return;
@if (PI.Name is StandardInternal.product.infomation.Name.BadClaims or StandardInternal.product.infomation.Name.GoodClaims or StandardInternal.product.infomation.Name.MemoryClaims)
{
    <audio controls autoplay style="visibility:hidden">
        <source src="_content/SharedLayout/startup.mp3" type="audio/mpeg">
    </audio>
    @switch (this.PI.Name)
    {
        case StandardInternal.product.infomation.Name.BadClaims:
            @switch (this.UIE.ISO639_1)
            {
                case "DA":
                    <div class="text open_sansbold">Dårlige minder fra fortiden</div>
                    break;
                default:
                    <div class="text open_sansbold">Bad memories from the past</div>
                    break;
            }
            break;
        case StandardInternal.product.infomation.Name.GoodClaims:
            @switch (this.UIE.ISO639_1)
            {
                case "DA":
                    <div class="text open_sansbold">Gode minder fra fortiden</div>
                    break;
                default:
                    <div class="text open_sansbold">Good memories from the past</div>
                    break;
            }
            break;
        default:
            @switch (this.UIE.ISO639_1)
            {
                case "DA":
                    <div class="text open_sansbold">Historie af dig</div>
                    break;
                default:
                    <div class="text open_sansbold">Story by you</div>
                    break;
            }
            break;
    }
    <div class="emoji">@UseEmoji</div>
    <PageTitle>@Emojis[new Random().Next(0, Emojis.Length - 1)]Claims</PageTitle>
}
else
{
    <div class="text">connection together</div>
}
@code {
    private string UseEmoji = "";
    private string[] Emojis = new[] { "😀", "😃", "😄", "😁", "😆", "😅", "😂", "🤣", "🥲", "😊", "😇", "🙂", "🙃", "😉", "😌", "😍", "🥰", "😘", "😗", "😙", "😚", "😋", "😛", "😝", "😜", "🤪", "🤨", "🧐", "🤓", "😎", "🥸", "🤩", "🥳", "😏", "😒", "😞", "😔", "😟", "😕", "🙁", "😣", "😖", "😫", "😩", "🥺", "😢", "😭", "😮‍💨", "😤", "😠", "😡", "🤬", "🤯", "😳", "🥵", "🥶", "😱", "😨", "😰", "😥", "😓", "🤗", "🤔", "🤭", "🤫", "🤥", "😶", "😐", "😑", "😬", "🙄", "😯", "😦", "😧", "😮", "😲", "🥱", "😴", "🤤", "😪", "😵", "😵‍💫", "🤐", "🥴", "🤢", "🤮", "🤧", "😷", "🤒", "🤕", "🤑", "🤠", "😈", "👿", "👹", "👺", "🤡", "💩", "👻", "💀", "☠️", "👽", "👾", "🤖", "🎃", "😺", "😸", "😹", "😻", "😼", "😽", "🙀", "😿", "😾", "❤️" };
    protected override async Task OnInitializedAsync()
    {
        PM.Change += () => InvokeAsync(this.StateHasChanged);
        if (PI.Name is StandardInternal.product.infomation.Name.BadClaims or StandardInternal.product.infomation.Name.GoodClaims or StandardInternal.product.infomation.Name.MemoryClaims)
        {
            this.UIE.Change += () => InvokeAsync(this.StateHasChanged);
            var PmT = PM.Register;
            PmT.Install();
            var EmjoiTime = 5000 / Emojis.Length;
            for (var i = 0; i < Emojis.Length; i++)
            {
                UseEmoji = Emojis[new Random().Next(0, Emojis.Length - 1)] + Emojis[i] + Emojis[new Random().Next(0, Emojis.Length - 1)];
               
                this.StateHasChanged();
                await Task.Delay(EmjoiTime);
            }
            UseEmoji = Emojis[new Random().Next(0, Emojis.Length - 1)];
            this.StateHasChanged();
            await Task.Delay(1500);
            PmT.Done();
        }
        await base.OnInitializedAsync();
    }
}