[data-is="false"] {opacity:0.4}
@keyframes task-0 {
    0% {
        width: 25px;
    }
    50% {
        width: 35px;
    }
    100% {
        width: 25px;
    }
}
@keyframes task-1 {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
    }
}
*,a {cursor:pointer;}
img[data-is="false"]:hover {
    animation: task-0 1s forwards;
}
img[data-is="true"]:hover {
    animation: task-0 1s forwards;
}