@keyframes task-1 {
    0% {
        width: 25px;
    }

    50% {
        width:55px;
    }

    100% {
        width: 25px;
    }

}
@keyframes task-2 {
    0% {
        width: 20px;
    }

    50% {
        width: 55px;
    }

    100% {
        width: 20px;
    }
}
@keyframes task-3 {
    0% {
        opacity: 0.6
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6
    }
}
div[data-progress="Startup"] object:hover, div[data-progress="Install"] object:hover {
    animation: task-1 1s forwards,task-3 1s forwards;
}
*, a {
    cursor: pointer;
}
div[data-progress="Done"], div[data-progress="Download"] {
    text-align: right;
    bottom: 1px;
}
div[data-progress="Done"] object, div[data-progress="Download"] object {
    width: 20px;
}
div[data-progress="Done"] object:hover, div[data-progress="Download"] object:hover {
    animation: task-2 1s forwards,task-3 1s forwards;
 }