@keyframes task-0 {
    0% {
        width: 200px;
        right: calc(50% - 100px);
        bottom: 60%;
    }
    100% {
        width: 30px;
        right: 2px;
        bottom: 40px;
    }
}
@keyframes task-1 {
    0% {
        width: 200px;
        right: calc(50% - 100px);
        bottom: 60%;
    }

    100% {
        width: 30px;
        right: 4px;
        bottom: 4px;
    }
}
object[data-pi-software="Browser"][data-progress="Done"], object[data-pi-software="Browser"][data-progress="Download"] {
    animation: task-0 1s forwards;
}
object[data-pi-software="Application"][data-progress="Done"], object[data-pi-software="Application"][data-progress="Download"] {
    animation: task-1 1s forwards;
}
object[data-progress="Install"], object[data-progress="Cancel"] {
    animation: task-0 1s backwards;
}
