@inject Product.Infomation PI;
@inject Progress.Manager PM;
@inject UnitIdentification.Engine UIE;
<span>
    <UI_020b1bccContainer.Component>
        <Content>
            <object data="/_content/UI_Product_Logo/OBJECTSOCIAL.svg" class="logo-background" />
            <img src="/_content/UI_Authentication/profil.png" class="profil" />
            <div class="left-line"></div>
            <div class="right-line"></div>
            @switch (this.UIE.ISO639_1)
            {
                case "DA":
                    <div class="questions">Har du en gratis privat konto hos os?</div>
                    <div class="wee-will-make-one">Nej! opret en konto</div>
                     <div class="start-condition">Jeg klikker kun på 'Nej! Opret en konto.' fordi jeg er myndig over 13 år.<br />OBJECT:SOCIAL har lov til at opbevare en nøgle i min enhed. Det gælder også for de enheder jeg logger på.</div>

                break;
                default:
                    <div class="questions">Do you have a free private account with us?</div>
                    <div class="wee-will-make-one">No! Create an account</div>
                    <div class="start-condition">I only click on 'No! Create an account.' because I am of legal age over 13 years.<br />OBJECT:SOCIAL is allowed to store a key in my device. This also applies to the devices I log into.</div>

                break;
            }
            <div class="right-line"></div>

            @if(false)
            @switch (this.UIE.ISO639_1)
            {
                case "DA":
                    <div class="connect">Forbind</div>
                    <div class="mobile">
                        <div class="prefix">DK +45</div>
                        <input type="text" placeholder="Mobil nummer" />
                    </div>
                    <div class="email">
                        <input type="text" placeholder="E-mail" />
                    </div>
                    <div class="or">
                        Eller
                    </div>
                    break;
                default:
                    <div class="connect">Connect</div>
                    <div class="mobile">
                        <div class="prefix">DK +45</div>
                        <input type="text" placeholder="Mobile number" />
                    </div>
                    <div class="email">
                        <input type="text" placeholder="E-mail" />
                    </div>
                    <div class="or">
                        Or
                    </div>
                    break;
            }
            <div class="choice-preifx">
                      <div class="item">
                    <div class="iso6311">AD</div>
                    <div class="prefix-number">+376</div>
                    <div class="country">Andorra</div>
                </div>
                <div class="item">
                    <div class="iso6311">AE</div>
                    <div class="prefix-number">+971</div>
                    <div class="country">United Arab Emirates</div>
                </div>
                <div class="item">
                    <div class="iso6311">AF</div>
                    <div class="prefix-number">+93</div>
                    <div class="country">Afghanistan</div>
                </div>
                <div class="item">
                    <div class="iso6311">US</div>
                    <div class="prefix-number">+1</div>
                    <div class="country">United States</div>
                </div>
                <div class="item">
                    <div class="iso6311">AL</div>
                    <div class="prefix-number">+355</div>
                    <div class="country">Albania</div>
                </div>
                <div class="item">
                    <div class="iso6311">AM</div>
                    <div class="prefix-number">+374</div>
                    <div class="country">Armenia</div>
                </div>
                <div class="item">
                    <div class="iso6311">AO</div>
                    <div class="prefix-number">+244</div>
                    <div class="country">Angola</div>
                </div>
                <div class="item">
                    <div class="iso6311">AR</div>
                    <div class="prefix-number">+54</div>
                    <div class="country">Argentina</div>
                </div>
                <div class="item">
                    <div class="iso6311">AT</div>
                    <div class="prefix-number">+43</div>
                    <div class="country">Austria</div>
                </div>
                <div class="item">
                    <div class="iso6311">AU</div>
                    <div class="prefix-number">+61</div>
                    <div class="country">Australia</div>
                </div>
                <div class="item">
                    <div class="iso6311">AW</div>
                    <div class="prefix-number">+297</div>
                    <div class="country">Aruba</div>
                </div>
                <div class="item">
                    <div class="iso6311">FI</div>
                    <div class="prefix-number">+358</div>
                    <div class="country">Finland</div>
                </div>
                <div class="item">
                    <div class="iso6311">AZ</div>
                    <div class="prefix-number">+994</div>
                    <div class="country">Azerbaijan</div>
                </div>
                <div class="item">
                    <div class="iso6311">BA</div>
                    <div class="prefix-number">+387</div>
                    <div class="country">Bosnia & Herzegovina</div>
                </div>
                <div class="item">
                    <div class="iso6311">BD</div>
                    <div class="prefix-number">+880</div>
                    <div class="country">Bangladesh</div>
                </div>
                <div class="item">
                    <div class="iso6311">BE</div>
                    <div class="prefix-number">+32</div>
                    <div class="country">Belgium</div>
                </div>
                <div class="item">
                    <div class="iso6311">BF</div>
                    <div class="prefix-number">+226</div>
                    <div class="country">Burkina Faso</div>
                </div>
                <div class="item">
                    <div class="iso6311">BG</div>
                    <div class="prefix-number">+359</div>
                    <div class="country">Bulgaria</div>
                </div>
                <div class="item">
                    <div class="iso6311">BH</div>
                    <div class="prefix-number">+973</div>
                    <div class="country">Bahrain</div>
                </div>
                <div class="item">
                    <div class="iso6311">BI</div>
                    <div class="prefix-number">+257</div>
                    <div class="country">Burundi</div>
                </div>
                <div class="item">
                    <div class="iso6311">BJ</div>
                    <div class="prefix-number">+229</div>
                    <div class="country">Benin</div>
                </div>
                <div class="item">
                    <div class="iso6311">GP</div>
                    <div class="prefix-number">+590</div>
                    <div class="country">Guadeloupe</div>
                </div>
                <div class="item">
                    <div class="iso6311">BN</div>
                    <div class="prefix-number">+673</div>
                    <div class="country">Brunei</div>
                </div>
                <div class="item">
                    <div class="iso6311">BO</div>
                    <div class="prefix-number">+591</div>
                    <div class="country">Bolivia</div>
                </div>
                <div class="item">
                    <div class="iso6311">CW</div>
                    <div class="prefix-number">+599</div>
                    <div class="country">Curaçao</div>
                </div>
                <div class="item">
                    <div class="iso6311">BR</div>
                    <div class="prefix-number">+55</div>
                    <div class="country">Brazil</div>
                </div>
                <div class="item">
                    <div class="iso6311">BT</div>
                    <div class="prefix-number">+975</div>
                    <div class="country">Bhutan</div>
                </div>
                <div class="item">
                    <div class="iso6311">BW</div>
                    <div class="prefix-number">+267</div>
                    <div class="country">Botswana</div>
                </div>
                <div class="item">
                    <div class="iso6311">BY</div>
                    <div class="prefix-number">+375</div>
                    <div class="country">Belarus</div>
                </div>
                <div class="item">
                    <div class="iso6311">BZ</div>
                    <div class="prefix-number">+501</div>
                    <div class="country">Belize</div>
                </div>
                <div class="item">
                    <div class="iso6311">CD</div>
                    <div class="prefix-number">+243</div>
                    <div class="country">Congo (DRC)</div>
                </div>
                <div class="item">
                    <div class="iso6311">CF</div>
                    <div class="prefix-number">+236</div>
                    <div class="country">Central African Republic</div>
                </div>
                <div class="item">
                    <div class="iso6311">CG</div>
                    <div class="prefix-number">+242</div>
                    <div class="country">Congo</div>
                </div>
                <div class="item">
                    <div class="iso6311">CH</div>
                    <div class="prefix-number">+41</div>
                    <div class="country">Switzerland</div>
                </div>
                <div class="item">
                    <div class="iso6311">CI</div>
                    <div class="prefix-number">+225</div>
                    <div class="country">Côte d'Ivoire</div>
                </div>
                <div class="item">
                    <div class="iso6311">CK</div>
                    <div class="prefix-number">+682</div>
                    <div class="country">Cook Islands</div>
                </div>
                <div class="item">
                    <div class="iso6311">CL</div>
                    <div class="prefix-number">+56</div>
                    <div class="country">Chile</div>
                </div>
                <div class="item">
                    <div class="iso6311">CN</div>
                    <div class="prefix-number">+86</div>
                    <div class="country">China</div>
                </div>
                <div class="item">
                    <div class="iso6311">CO</div>
                    <div class="prefix-number">+57</div>
                    <div class="country">Colombia</div>
                </div>
                <div class="item">
                    <div class="iso6311">CR</div>
                    <div class="prefix-number">+506</div>
                    <div class="country">Costa Rica</div>
                </div>
                <div class="item">
                    <div class="iso6311">CU</div>
                    <div class="prefix-number">+53</div>
                    <div class="country">Cuba</div>
                </div>
                <div class="item">
                    <div class="iso6311">CV</div>
                    <div class="prefix-number">+238</div>
                    <div class="country">Cabo Verde</div>
                </div>
                <div class="item">
                    <div class="iso6311">CY</div>
                    <div class="prefix-number">+357</div>
                    <div class="country">Cyprus</div>
                </div>
                <div class="item">
                    <div class="iso6311">CZ</div>
                    <div class="prefix-number">+420</div>
                    <div class="country">Czechia</div>
                </div>
                <div class="item">
                    <div class="iso6311">DE</div>
                    <div class="prefix-number">+49</div>
                    <div class="country">Germany</div>
                </div>
                <div class="item">
                    <div class="iso6311">DJ</div>
                    <div class="prefix-number">+253</div>
                    <div class="country">Djibouti</div>
                </div>
                <div class="item">
                    <div class="iso6311">DK</div>
                    <div class="prefix-number">+45</div>
                    <div class="country">Denmark</div>
                </div>
                <div class="item">
                    <div class="iso6311">DZ</div>
                    <div class="prefix-number">+213</div>
                    <div class="country">Algeria</div>
                </div>
                <div class="item">
                    <div class="iso6311">EC</div>
                    <div class="prefix-number">+593</div>
                    <div class="country">Ecuador</div>
                </div>
                <div class="item">
                    <div class="iso6311">EE</div>
                    <div class="prefix-number">+372</div>
                    <div class="country">Estonia</div>
                </div>
                <div class="item">
                    <div class="iso6311">EG</div>
                    <div class="prefix-number">+20</div>
                    <div class="country">Egypt</div>
                </div>
                <div class="item">
                    <div class="iso6311">MA</div>
                    <div class="prefix-number">+212</div>
                    <div class="country">Morocco</div>
                </div>
                <div class="item">
                    <div class="iso6311">ER</div>
                    <div class="prefix-number">+291</div>
                    <div class="country">Eritrea</div>
                </div>
                <div class="item">
                    <div class="iso6311">ES</div>
                    <div class="prefix-number">+34</div>
                    <div class="country">Spain</div>
                </div>
                <div class="item">
                    <div class="iso6311">ET</div>
                    <div class="prefix-number">+251</div>
                    <div class="country">Ethiopia</div>
                </div>
                <div class="item">
                    <div class="iso6311">FJ</div>
                    <div class="prefix-number">+679</div>
                    <div class="country">Fiji</div>
                </div>
                <div class="item">
                    <div class="iso6311">FK</div>
                    <div class="prefix-number">+500</div>
                    <div class="country">Falkland Islands</div>
                </div>
                <div class="item">
                    <div class="iso6311">FM</div>
                    <div class="prefix-number">+691</div>
                    <div class="country">Micronesia</div>
                </div>
                <div class="item">
                    <div class="iso6311">FO</div>
                    <div class="prefix-number">+298</div>
                    <div class="country">Faroe Islands</div>
                </div>
                <div class="item">
                    <div class="iso6311">FR</div>
                    <div class="prefix-number">+33</div>
                    <div class="country">France</div>
                </div>
                <div class="item">
                    <div class="iso6311">GA</div>
                    <div class="prefix-number">+241</div>
                    <div class="country">Gabon</div>
                </div>
                <div class="item">
                    <div class="iso6311">GB</div>
                    <div class="prefix-number">+44</div>
                    <div class="country">United Kingdom</div>
                </div>
                <div class="item">
                    <div class="iso6311">GE</div>
                    <div class="prefix-number">+995</div>
                    <div class="country">Georgia</div>
                </div>
                <div class="item">
                    <div class="iso6311">GF</div>
                    <div class="prefix-number">+594</div>
                    <div class="country">French Guiana</div>
                </div>
                <div class="item">
                    <div class="iso6311">GH</div>
                    <div class="prefix-number">+233</div>
                    <div class="country">Ghana</div>
                </div>
                <div class="item">
                    <div class="iso6311">GI</div>
                    <div class="prefix-number">+350</div>
                    <div class="country">Gibraltar</div>
                </div>
                <div class="item">
                    <div class="iso6311">GL</div>
                    <div class="prefix-number">+299</div>
                    <div class="country">Greenland</div>
                </div>
                <div class="item">
                    <div class="iso6311">GM</div>
                    <div class="prefix-number">+220</div>
                    <div class="country">Gambia</div>
                </div>
                <div class="item">
                    <div class="iso6311">GN</div>
                    <div class="prefix-number">+224</div>
                    <div class="country">Guinea</div>
                </div>
                <div class="item">
                    <div class="iso6311">GQ</div>
                    <div class="prefix-number">+240</div>
                    <div class="country">Equatorial Guinea</div>
                </div>
                <div class="item">
                    <div class="iso6311">GR</div>
                    <div class="prefix-number">+30</div>
                    <div class="country">Greece</div>
                </div>
                <div class="item">
                    <div class="iso6311">GT</div>
                    <div class="prefix-number">+502</div>
                    <div class="country">Guatemala</div>
                </div>
                <div class="item">
                    <div class="iso6311">GW</div>
                    <div class="prefix-number">+245</div>
                    <div class="country">Guinea-Bissau</div>
                </div>
                <div class="item">
                    <div class="iso6311">GY</div>
                    <div class="prefix-number">+592</div>
                    <div class="country">Guyana</div>
                </div>
                <div class="item">
                    <div class="iso6311">HK</div>
                    <div class="prefix-number">+852</div>
                    <div class="country">Hong Kong SAR</div>
                </div>
                <div class="item">
                    <div class="iso6311">HN</div>
                    <div class="prefix-number">+504</div>
                    <div class="country">Honduras</div>
                </div>
                <div class="item">
                    <div class="iso6311">HR</div>
                    <div class="prefix-number">+385</div>
                    <div class="country">Croatia</div>
                </div>
                <div class="item">
                    <div class="iso6311">HT</div>
                    <div class="prefix-number">+509</div>
                    <div class="country">Haiti</div>
                </div>
                <div class="item">
                    <div class="iso6311">HU</div>
                    <div class="prefix-number">+36</div>
                    <div class="country">Hungary</div>
                </div>
                <div class="item">
                    <div class="iso6311">ID</div>
                    <div class="prefix-number">+62</div>
                    <div class="country">Indonesia</div>
                </div>
                <div class="item">
                    <div class="iso6311">IE</div>
                    <div class="prefix-number">+353</div>
                    <div class="country">Ireland</div>
                </div>
                <div class="item">
                    <div class="iso6311">IL</div>
                    <div class="prefix-number">+972</div>
                    <div class="country">Israel</div>
                </div>
                <div class="item">
                    <div class="iso6311">IN</div>
                    <div class="prefix-number">+91</div>
                    <div class="country">India</div>
                </div>
                <div class="item">
                    <div class="iso6311">IO</div>
                    <div class="prefix-number">+246</div>
                    <div class="country">British Indian Ocean Territory</div>
                </div>
                <div class="item">
                    <div class="iso6311">IQ</div>
                    <div class="prefix-number">+964</div>
                    <div class="country">Iraq</div>
                </div>
                <div class="item">
                    <div class="iso6311">IR</div>
                    <div class="prefix-number">+98</div>
                    <div class="country">Iran</div>
                </div>
                <div class="item">
                    <div class="iso6311">IS</div>
                    <div class="prefix-number">+354</div>
                    <div class="country">Iceland</div>
                </div>
                <div class="item">
                    <div class="iso6311">IT</div>
                    <div class="prefix-number">+39</div>
                    <div class="country">Italy</div>
                </div>
                <div class="item">
                    <div class="iso6311">JO</div>
                    <div class="prefix-number">+962</div>
                    <div class="country">Jordan</div>
                </div>
                <div class="item">
                    <div class="iso6311">JP</div>
                    <div class="prefix-number">+81</div>
                    <div class="country">Japan</div>
                </div>
                <div class="item">
                    <div class="iso6311">KE</div>
                    <div class="prefix-number">+254</div>
                    <div class="country">Kenya</div>
                </div>
                <div class="item">
                    <div class="iso6311">KG</div>
                    <div class="prefix-number">+996</div>
                    <div class="country">Kyrgyzstan</div>
                </div>
                <div class="item">
                    <div class="iso6311">KH</div>
                    <div class="prefix-number">+855</div>
                    <div class="country">Cambodia</div>
                </div>
                <div class="item">
                    <div class="iso6311">KI</div>
                    <div class="prefix-number">+686</div>
                    <div class="country">Kiribati</div>
                </div>
                <div class="item">
                    <div class="iso6311">KM</div>
                    <div class="prefix-number">+269</div>
                    <div class="country">Comoros</div>
                </div>
                <div class="item">
                    <div class="iso6311">KP</div>
                    <div class="prefix-number">+850</div>
                    <div class="country">North Korea</div>
                </div>
                <div class="item">
                    <div class="iso6311">KR</div>
                    <div class="prefix-number">+82</div>
                    <div class="country">Korea</div>
                </div>
                <div class="item">
                    <div class="iso6311">KW</div>
                    <div class="prefix-number">+965</div>
                    <div class="country">Kuwait</div>
                </div>
                <div class="item">
                    <div class="iso6311">RU</div>
                    <div class="prefix-number">+7</div>
                    <div class="country">Russia</div>
                </div>
                <div class="item">
                    <div class="iso6311">LA</div>
                    <div class="prefix-number">+856</div>
                    <div class="country">Laos</div>
                </div>
                <div class="item">
                    <div class="iso6311">LB</div>
                    <div class="prefix-number">+961</div>
                    <div class="country">Lebanon</div>
                </div>
                <div class="item">
                    <div class="iso6311">LI</div>
                    <div class="prefix-number">+423</div>
                    <div class="country">Liechtenstein</div>
                </div>
                <div class="item">
                    <div class="iso6311">LK</div>
                    <div class="prefix-number">+94</div>
                    <div class="country">Sri Lanka</div>
                </div>
                <div class="item">
                    <div class="iso6311">LR</div>
                    <div class="prefix-number">+231</div>
                    <div class="country">Liberia</div>
                </div>
                <div class="item">
                    <div class="iso6311">LS</div>
                    <div class="prefix-number">+266</div>
                    <div class="country">Lesotho</div>
                </div>
                <div class="item">
                    <div class="iso6311">LT</div>
                    <div class="prefix-number">+370</div>
                    <div class="country">Lithuania</div>
                </div>
                <div class="item">
                    <div class="iso6311">LU</div>
                    <div class="prefix-number">+352</div>
                    <div class="country">Luxembourg</div>
                </div>
                <div class="item">
                    <div class="iso6311">LV</div>
                    <div class="prefix-number">+371</div>
                    <div class="country">Latvia</div>
                </div>
                <div class="item">
                    <div class="iso6311">LY</div>
                    <div class="prefix-number">+218</div>
                    <div class="country">Libya</div>
                </div>
                <div class="item">
                    <div class="iso6311">MC</div>
                    <div class="prefix-number">+377</div>
                    <div class="country">Monaco</div>
                </div>
                <div class="item">
                    <div class="iso6311">MD</div>
                    <div class="prefix-number">+373</div>
                    <div class="country">Moldova</div>
                </div>
                <div class="item">
                    <div class="iso6311">ME</div>
                    <div class="prefix-number">+382</div>
                    <div class="country">Montenegro</div>
                </div>
                <div class="item">
                    <div class="iso6311">MG</div>
                    <div class="prefix-number">+261</div>
                    <div class="country">Madagascar</div>
                </div>
                <div class="item">
                    <div class="iso6311">MH</div>
                    <div class="prefix-number">+692</div>
                    <div class="country">Marshall Islands</div>
                </div>
                <div class="item">
                    <div class="iso6311">MK</div>
                    <div class="prefix-number">+389</div>
                    <div class="country">North Macedonia</div>
                </div>
                <div class="item">
                    <div class="iso6311">ML</div>
                    <div class="prefix-number">+223</div>
                    <div class="country">Mali</div>
                </div>
                <div class="item">
                    <div class="iso6311">MM</div>
                    <div class="prefix-number">+95</div>
                    <div class="country">Myanmar</div>
                </div>
                <div class="item">
                    <div class="iso6311">MN</div>
                    <div class="prefix-number">+976</div>
                    <div class="country">Mongolia</div>
                </div>
                <div class="item">
                    <div class="iso6311">MO</div>
                    <div class="prefix-number">+853</div>
                    <div class="country">Macao SAR</div>
                </div>
                <div class="item">
                    <div class="iso6311">MQ</div>
                    <div class="prefix-number">+596</div>
                    <div class="country">Martinique</div>
                </div>
                <div class="item">
                    <div class="iso6311">MR</div>
                    <div class="prefix-number">+222</div>
                    <div class="country">Mauritania</div>
                </div>
                <div class="item">
                    <div class="iso6311">MT</div>
                    <div class="prefix-number">+356</div>
                    <div class="country">Malta</div>
                </div>
                <div class="item">
                    <div class="iso6311">MU</div>
                    <div class="prefix-number">+230</div>
                    <div class="country">Mauritius</div>
                </div>
                <div class="item">
                    <div class="iso6311">MV</div>
                    <div class="prefix-number">+960</div>
                    <div class="country">Maldives</div>
                </div>
                <div class="item">
                    <div class="iso6311">MW</div>
                    <div class="prefix-number">+265</div>
                    <div class="country">Malawi</div>
                </div>
                <div class="item">
                    <div class="iso6311">MX</div>
                    <div class="prefix-number">+52</div>
                    <div class="country">Mexico</div>
                </div>
                <div class="item">
                    <div class="iso6311">MY</div>
                    <div class="prefix-number">+60</div>
                    <div class="country">Malaysia</div>
                </div>
                <div class="item">
                    <div class="iso6311">MZ</div>
                    <div class="prefix-number">+258</div>
                    <div class="country">Mozambique</div>
                </div>
                <div class="item">
                    <div class="iso6311">NA</div>
                    <div class="prefix-number">+264</div>
                    <div class="country">Namibia</div>
                </div>
                <div class="item">
                    <div class="iso6311">NC</div>
                    <div class="prefix-number">+687</div>
                    <div class="country">New Caledonia</div>
                </div>
                <div class="item">
                    <div class="iso6311">NE</div>
                    <div class="prefix-number">+227</div>
                    <div class="country">Niger</div>
                </div>
                <div class="item">
                    <div class="iso6311">NF</div>
                    <div class="prefix-number">+672</div>
                    <div class="country">Norfolk Island</div>
                </div>
                <div class="item">
                    <div class="iso6311">NG</div>
                    <div class="prefix-number">+234</div>
                    <div class="country">Nigeria</div>
                </div>
                <div class="item">
                    <div class="iso6311">NI</div>
                    <div class="prefix-number">+505</div>
                    <div class="country">Nicaragua</div>
                </div>
                <div class="item">
                    <div class="iso6311">NL</div>
                    <div class="prefix-number">+31</div>
                    <div class="country">Netherlands</div>
                </div>
                <div class="item">
                    <div class="iso6311">NO</div>
                    <div class="prefix-number">+47</div>
                    <div class="country">Norway</div>
                </div>
                <div class="item">
                    <div class="iso6311">NP</div>
                    <div class="prefix-number">+977</div>
                    <div class="country">Nepal</div>
                </div>
                <div class="item">
                    <div class="iso6311">NR</div>
                    <div class="prefix-number">+674</div>
                    <div class="country">Nauru</div>
                </div>
                <div class="item">
                    <div class="iso6311">NU</div>
                    <div class="prefix-number">+683</div>
                    <div class="country">Niue</div>
                </div>
                <div class="item">
                    <div class="iso6311">NZ</div>
                    <div class="prefix-number">+64</div>
                    <div class="country">New Zealand</div>
                </div>
                <div class="item">
                    <div class="iso6311">OM</div>
                    <div class="prefix-number">+968</div>
                    <div class="country">Oman</div>
                </div>
                <div class="item">
                    <div class="iso6311">PA</div>
                    <div class="prefix-number">+507</div>
                    <div class="country">Panama</div>
                </div>
                <div class="item">
                    <div class="iso6311">PE</div>
                    <div class="prefix-number">+51</div>
                    <div class="country">Peru</div>
                </div>
                <div class="item">
                    <div class="iso6311">PF</div>
                    <div class="prefix-number">+689</div>
                    <div class="country">French Polynesia</div>
                </div>
                <div class="item">
                    <div class="iso6311">PG</div>
                    <div class="prefix-number">+675</div>
                    <div class="country">Papua New Guinea</div>
                </div>
                <div class="item">
                    <div class="iso6311">PH</div>
                    <div class="prefix-number">+63</div>
                    <div class="country">Philippines</div>
                </div>
                <div class="item">
                    <div class="iso6311">PK</div>
                    <div class="prefix-number">+92</div>
                    <div class="country">Pakistan</div>
                </div>
                <div class="item">
                    <div class="iso6311">PL</div>
                    <div class="prefix-number">+48</div>
                    <div class="country">Poland</div>
                </div>
                <div class="item">
                    <div class="iso6311">PM</div>
                    <div class="prefix-number">+508</div>
                    <div class="country">St. Pierre & Miquelon</div>
                </div>
                <div class="item">
                    <div class="iso6311">PS</div>
                    <div class="prefix-number">+970</div>
                    <div class="country">State of Palestine</div>
                </div>
                <div class="item">
                    <div class="iso6311">PT</div>
                    <div class="prefix-number">+351</div>
                    <div class="country">Portugal</div>
                </div>
                <div class="item">
                    <div class="iso6311">PW</div>
                    <div class="prefix-number">+680</div>
                    <div class="country">Palau</div>
                </div>
                <div class="item">
                    <div class="iso6311">PY</div>
                    <div class="prefix-number">+595</div>
                    <div class="country">Paraguay</div>
                </div>
                <div class="item">
                    <div class="iso6311">QA</div>
                    <div class="prefix-number">+974</div>
                    <div class="country">Qatar</div>
                </div>
                <div class="item">
                    <div class="iso6311">RE</div>
                    <div class="prefix-number">+262</div>
                    <div class="country">Réunion</div>
                </div>
                <div class="item">
                    <div class="iso6311">RO</div>
                    <div class="prefix-number">+40</div>
                    <div class="country">Romania</div>
                </div>
                <div class="item">
                    <div class="iso6311">RS</div>
                    <div class="prefix-number">+381</div>
                    <div class="country">Serbia</div>
                </div>
                <div class="item">
                    <div class="iso6311">RW</div>
                    <div class="prefix-number">+250</div>
                    <div class="country">Rwanda</div>
                </div>
                <div class="item">
                    <div class="iso6311">SA</div>
                    <div class="prefix-number">+966</div>
                    <div class="country">Saudi Arabia</div>
                </div>
                <div class="item">
                    <div class="iso6311">SB</div>
                    <div class="prefix-number">+677</div>
                    <div class="country">Solomon Islands</div>
                </div>
                <div class="item">
                    <div class="iso6311">SC</div>
                    <div class="prefix-number">+248</div>
                    <div class="country">Seychelles</div>
                </div>
                <div class="item">
                    <div class="iso6311">SD</div>
                    <div class="prefix-number">+249</div>
                    <div class="country">Sudan</div>
                </div>
                <div class="item">
                    <div class="iso6311">SE</div>
                    <div class="prefix-number">+46</div>
                    <div class="country">Sweden</div>
                </div>
                <div class="item">
                    <div class="iso6311">SG</div>
                    <div class="prefix-number">+65</div>
                    <div class="country">Singapore</div>
                </div>
                <div class="item">
                    <div class="iso6311">SH</div>
                    <div class="prefix-number">+290</div>
                    <div class="country">St Helena, Ascension, Tristan da Cunha</div>
                </div>
                <div class="item">
                    <div class="iso6311">SI</div>
                    <div class="prefix-number">+386</div>
                    <div class="country">Slovenia</div>
                </div>
                <div class="item">
                    <div class="iso6311">SK</div>
                    <div class="prefix-number">+421</div>
                    <div class="country">Slovakia</div>
                </div>
                <div class="item">
                    <div class="iso6311">SL</div>
                    <div class="prefix-number">+232</div>
                    <div class="country">Sierra Leone</div>
                </div>
                <div class="item">
                    <div class="iso6311">SM</div>
                    <div class="prefix-number">+378</div>
                    <div class="country">San Marino</div>
                </div>
                <div class="item">
                    <div class="iso6311">SN</div>
                    <div class="prefix-number">+221</div>
                    <div class="country">Senegal</div>
                </div>
                <div class="item">
                    <div class="iso6311">SO</div>
                    <div class="prefix-number">+252</div>
                    <div class="country">Somalia</div>
                </div>
                <div class="item">
                    <div class="iso6311">SR</div>
                    <div class="prefix-number">+597</div>
                    <div class="country">Suriname</div>
                </div>
                <div class="item">
                    <div class="iso6311">SS</div>
                    <div class="prefix-number">+211</div>
                    <div class="country">South Sudan</div>
                </div>
                <div class="item">
                    <div class="iso6311">ST</div>
                    <div class="prefix-number">+239</div>
                    <div class="country">São Tomé & Príncipe</div>
                </div>
                <div class="item">
                    <div class="iso6311">SV</div>
                    <div class="prefix-number">+503</div>
                    <div class="country">El Salvador</div>
                </div>
                <div class="item">
                    <div class="iso6311">SY</div>
                    <div class="prefix-number">+963</div>
                    <div class="country">Syria</div>
                </div>
                <div class="item">
                    <div class="iso6311">SZ</div>
                    <div class="prefix-number">+268</div>
                    <div class="country">Eswatini</div>
                </div>
                <div class="item">
                    <div class="iso6311">TD</div>
                    <div class="prefix-number">+235</div>
                    <div class="country">Chad</div>
                </div>
                <div class="item">
                    <div class="iso6311">TG</div>
                    <div class="prefix-number">+228</div>
                    <div class="country">Togo</div>
                </div>
                <div class="item">
                    <div class="iso6311">TH</div>
                    <div class="prefix-number">+66</div>
                    <div class="country">Thailand</div>
                </div>
                <div class="item">
                    <div class="iso6311">TJ</div>
                    <div class="prefix-number">+992</div>
                    <div class="country">Tajikistan</div>
                </div>
                <div class="item">
                    <div class="iso6311">TK</div>
                    <div class="prefix-number">+690</div>
                    <div class="country">Tokelau</div>
                </div>
                <div class="item">
                    <div class="iso6311">TL</div>
                    <div class="prefix-number">+670</div>
                    <div class="country">Timor-Leste</div>
                </div>
                <div class="item">
                    <div class="iso6311">TM</div>
                    <div class="prefix-number">+993</div>
                    <div class="country">Turkmenistan</div>
                </div>
                <div class="item">
                    <div class="iso6311">TN</div>
                    <div class="prefix-number">+216</div>
                    <div class="country">Tunisia</div>
                </div>
                <div class="item">
                    <div class="iso6311">TO</div>
                    <div class="prefix-number">+676</div>
                    <div class="country">Tonga</div>
                </div>
                <div class="item">
                    <div class="iso6311">TR</div>
                    <div class="prefix-number">+90</div>
                    <div class="country">Turkey</div>
                </div>
                <div class="item">
                    <div class="iso6311">TV</div>
                    <div class="prefix-number">+688</div>
                    <div class="country">Tuvalu</div>
                </div>
                <div class="item">
                    <div class="iso6311">TW</div>
                    <div class="prefix-number">+886</div>
                    <div class="country">Taiwan</div>
                </div>
                <div class="item">
                    <div class="iso6311">TZ</div>
                    <div class="prefix-number">+255</div>
                    <div class="country">Tanzania</div>
                </div>
                <div class="item">
                    <div class="iso6311">UA</div>
                    <div class="prefix-number">+380</div>
                    <div class="country">Ukraine</div>
                </div>
                <div class="item">
                    <div class="iso6311">UG</div>
                    <div class="prefix-number">+256</div>
                    <div class="country">Uganda</div>
                </div>
                <div class="item">
                    <div class="iso6311">UY</div>
                    <div class="prefix-number">+598</div>
                    <div class="country">Uruguay</div>
                </div>
                <div class="item">
                    <div class="iso6311">UZ</div>
                    <div class="prefix-number">+998</div>
                    <div class="country">Uzbekistan</div>
                </div>
                <div class="item">
                    <div class="iso6311">VA</div>
                    <div class="prefix-number">+379</div>
                    <div class="country">Vatican City</div>
                </div>
                <div class="item">
                    <div class="iso6311">VE</div>
                    <div class="prefix-number">+58</div>
                    <div class="country">Venezuela</div>
                </div>
                <div class="item">
                    <div class="iso6311">VN</div>
                    <div class="prefix-number">+84</div>
                    <div class="country">Vietnam</div>
                </div>
                <div class="item">
                    <div class="iso6311">VU</div>
                    <div class="prefix-number">+678</div>
                    <div class="country">Vanuatu</div>
                </div>
                <div class="item">
                    <div class="iso6311">WF</div>
                    <div class="prefix-number">+681</div>
                    <div class="country">Wallis & Futuna</div>
                </div>
                <div class="item">
                    <div class="iso6311">WS</div>
                    <div class="prefix-number">+685</div>
                    <div class="country">Samoa</div>
                </div>
                <div class="item">
                    <div class="iso6311">YE</div>
                    <div class="prefix-number">+967</div>
                    <div class="country">Yemen</div>
                </div>
                <div class="item">
                    <div class="iso6311">ZA</div>
                    <div class="prefix-number">+27</div>
                    <div class="country">South Africa</div>
                </div>
                <div class="item">
                    <div class="iso6311">ZM</div>
                    <div class="prefix-number">+260</div>
                    <div class="country">Zambia</div>
                </div>
                <div class="item">
                    <div class="iso6311">ZW</div>
                    <div class="prefix-number">+263</div>
                    <div class="country">Zimbabwe</div>
                </div>
            </div>
            <div class="cancel-choice-preifx">
                Cancel
            </div>
            <img src="/_content/UI_Authentication/security.png" class="security" />
        </Content>
    </UI_020b1bccContainer.Component>
</span>
@code{
    protected override Task OnInitializedAsync()
    {
        PM.Change += () => InvokeAsync(this.StateHasChanged);
        UIE.Change += () => InvokeAsync(this.StateHasChanged);
        return base.OnInitializedAsync();
    }
}