@font-face {
    font-family: 'open_sansbold';
    src:  url('OpenSans-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.open_sansbold {
    font-family: 'open_sansbold';
}

